# API
PORT=3000
JWT_SECRET=super-secret-jwt-key
# URL from API to connect to PostgreSQL (adjust if needed depending on environment)
DATABASE_URL="postgresql://english_user:english_password@localhost:5432/english_db?schema=public"

# WEB
PUBLIC_API_URL=http://localhost:3000
